In [3]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [51]:
df=pd.read_csv('home data.csv')

In [52]:
df.head()

           x          y
0  48.955889  60.723602
1  44.687196  82.892504
2  60.297327  97.379897
3  45.618644  48.847153
4  38.816818  56.877213

    Starting (USD)  Ending (USD)
0            16800         16500
1            15900         16100
2            15800         15300
3            16100         16200
4            16300         15700
5            16800         16400
6            15900         16200
7            15800         15500
8            16150         16100
9            16300         15800
10           16200         16200
11           16300         15700

In [53]:
x=df['x']

In [60]:
df.isnull().sum()

x    0
y    0
dtype: int64

In [55]:
y=df['y']

In [56]:
y.head()

0    60.723602
1    82.892504
2    97.379897
3    48.847153
4    56.877213
Name: y, dtype: float64

# Gradient Descent in Machine Learning

In [61]:
# first step

m=0
c=0
Learning_rate = 0.001
n= int(len(x))

iterations =1000

#2nd step 
for i in range(iterations):
    y_prediction = m * x + c
    derivatives_m =(-2/n) * sum(x * (y -  y_prediction))
    derivatives_c = (-2/n)* sum(y - y_prediction)
    #final step 
    m= m - Learning_rate * derivatives_m
    c= c - Learning_rate * derivatives_c
   

print(m,c)

nan nan

In [45]:
m = 0
c = 0
Learning_rate = 0.001
n = len(x)

iterations = 1000

# Gradient Descent
for i in range(iterations):
    y_prediction = m * x + c
    derivatives_m = (-2 / n) * sum(x * (y - y_prediction))
    derivatives_c = (-2 / n) * sum(y - y_prediction)
    # Update m and c
    m = m - (Learning_rate * derivatives_m)
    c = c - (Learning_rate * derivatives_c)

print(m, c)

nan nan