In [3]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [51]:
df=pd.read_csv('home data.csv')

In [78]:
df

            x          y
0   48.955889  60.723602
1   44.687196  82.892504
2   60.297327  97.379897
3   45.618644  48.847153
4   38.816818  56.877213
..        ...        ...
94  50.030174  81.536991
95  49.239765  72.111832
96  50.039576  85.232007
97  48.149859  66.224958
98  25.128485  53.454394

[99 rows x 2 columns]

In [53]:
x=df['x']

In [60]:
df.isnull().sum()

x    0
y    0
dtype: int64

In [65]:
x=df['x']
y=df['y']

In [56]:
y.head()

0    60.723602
1    82.892504
2    97.379897
3    48.847153
4    56.877213
Name: y, dtype: float64

# Gradient Descent in Machine Learning

In [85]:
#step 1
m=0
c=0
Learning_rate= 0.0001
n= int(len(x))

iterations=1000
#step 2
for i in range(iterations):
    y_prediction = m* x + c
    derivatives_m = (-2/n)*sum(x*(y-y_prediction))
    derivatives_c = (-2/n)*sum((y - y_prediction))

    #final step
    m = m - (Learning_rate *derivatives_m)
    c = c - (Learning_rate *derivatives_c)
  
print(m,c)

1.4796491688881985 0.10148121497503648

# Make Prediction

In [92]:
x= float(input('Enter any value of x: '))
y = 1.4796491688881985 *x + 0.10148121497503648
y

Enter any value of x:  38.816818

57.5367537075595

In [90]:
y= m*x + c
print(y)

72.53902168600794