In [1]:
import pandas as pd

In [2]:
data={
    'X':[1,2,3,4,5,7,10],
    'Y':[2,3,5,4,6,6,8]
}

In [3]:
data

{'X': [1, 2, 3, 4, 5, 7, 10], 'Y': [2, 3, 5, 4, 6, 6, 8]}

In [5]:
df=pd.DataFrame(data)

In [6]:
df

    X  Y
0   1  2
1   2  3
2   3  5
3   4  4
4   5  6
5   7  6
6  10  8

# Calculate Pearson correlation

In [7]:
pearson_corr= df['X'].corr(df['Y'])
print('Pearson correlation coefficient :' pearson_c)