In [1]:
import pandas as pd

In [5]:
data={

    'feature1':[1,20,3,40,5],
    'feature2':[6,7,18,19,10],
    
}
df=pd.DataFrame(data)
df.head()

   feature1  feature2
0         1         6
1        20         7
2         3        18
3        40        19
4         5        10

In [14]:
def standardize_data(data):
    mean= data.mean()
    std_dev=data.std(ddof=0) # delta degree of fredom n-1
    standardized_data_raw= (data-mean)/std_dev
    return standardized_data_raw

In [15]:
 standardized_df_raw= df.apply(standardize_data)

In [16]:
print("Original DataFrame :")
print(df)
print('\n Standardized DataFrame: ')
print(standardized_df_raw)

Original DataFrame :
   feature1  feature2
0         1         6
1        20         7
2         3        18
3        40        19
4         5        10

 Standardized DataFrame:
   feature1  feature2
0 -0.869803 -1.095445
1  0.421311 -0.912871
2 -0.733896  1.095445
3  1.780378  1.278019
4 -0.597989 -0.365148

# using sklearn

In [9]:
from sklearn.preprocessing  import  StandardScaler

In [17]:
scaler = StandardScaler()
standardized_data = scaler.fit_transform(df)
standardized_df = pd.DataFrame(standardized_data, columns = df.columns)
standardized_data

array([[-0.86980289, -1.09544512],
       [ 0.42131078, -0.91287093],
       [-0.73389619,  1.09544512],
       [ 1.7803778 ,  1.2780193 ],
       [-0.59798949, -0.36514837]])

In [18]:
print('Original DataFrame: ')
print(df)
print('\n Standardized DataFrame : raw code ')
print(standardized_df_raw)
print('\n Standardized DataFrame : sklearn ')
print(standardized_df)

Original DataFrame:
   feature1  feature2
0         1         6
1        20         7
2         3        18
3        40        19
4         5        10

 Standardized DataFrame : raw code
   feature1  feature2
0 -0.869803 -1.095445
1  0.421311 -0.912871
2 -0.733896  1.095445
3  1.780378  1.278019
4 -0.597989 -0.365148

 Standardized DataFrame : sklearn
   feature1  feature2
0 -0.869803 -1.095445
1  0.421311 -0.912871
2 -0.733896  1.095445
3  1.780378  1.278019
4 -0.597989 -0.365148